.Product{
    border: 1px solid white;
    border-radius: 20px;
    /* margin-bottom: 15px; */
    /* padding: 0px 20px 0px 20px; */
    margin-left: 15px;
    margin-bottom: 15px;
    width : 200px;
    height : 200px;

}